# Data Cleaning

In [1]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# read in data
animal_crossing = pd.read_csv('data/AnimalCrossing.csv')
ac_turnips = pd.read_csv('data/acturnips.csv')

In [12]:
animal_crossing.head()

,subreddit,selftext,title,text
0,AnimalCrossing,NaN,FANG IS A FUCKING SAVAGE,FANG IS A FUCKING SAVAGE
1,AnimalCrossing,NaN,It was an easy day of fossil hunting for my Fi...,It was an easy day of fossil hunting for my Fi...
2,AnimalCrossing,I like tybalt didn't at first but he's cool I'...,Villager betrayal,I like tybalt didn't at first but he's cool I'...
3,AnimalCrossing,NaN,Finally did my bathroom after 4 months!,Finally did my bathroom after 4 months!
4,AnimalCrossing,NaN,If you place a chair or bed and quickly take p...,If you place a chair or bed and quickly take p...

In [15]:
#drop selftext and title because text includes title and selftext
animal_crossing.drop(labels=['selftext', 'title'], axis=1, inplace=True)

In [16]:
# check for missing values
animal_crossing.isna().sum()

subreddit    0
text         0
dtype: int64

In [23]:
ac_turnips.describe()

        subreddit                                 text
count        1000                                  995
unique          1                                  972
top     acturnips  [removed]Tim and Tom buying for 558
freq         1000                                    6

In [21]:
# check for missing values
ac_turnips.isna().sum()

subreddit    0
text         5
dtype: int64

In [20]:
#drop selftext and title because text includes title and selftext
ac_turnips.drop(labels=['selftext', 'title'], axis=1, inplace=True)

In [38]:
# drop the five rows where text is na
ac_turnips.dropna(inplace=True)

In [43]:
#combine the two data frames
merged_data = animal_crossing.append(ac_turnips)

In [40]:
merged_data.describe()

             subreddit                                 text
count             1995                                 1995
unique               2                                 1949
top     AnimalCrossing  [removed]Tim and Tom buying for 558
freq              1000                                    6

In [41]:
merged_data.isna().sum()

subreddit    0
text         0
dtype: int64

In [47]:
# recode AnimalCrossing to 0 and acturnips to 1
merged_data['subreddit'].map({'AnimalCrossing': '0', 'acturnips': '1'})

0      0
1      0
2      0
3      0
4      0
      ..
994    1
995    1
996    1
998    1
999    1
Name: subreddit, Length: 1995, dtype: object

In [48]:
#write dataset to csv
merged_data.to_csv('data/merged_data.csv')